<template>
  <v-content>
    <v-container>
      <!--<pr-carousel></pr-carousel>-->
      <pr-description></pr-description>
      <pr-media></pr-media>
      <pr-news></pr-news>
      <email-widget></email-widget>
      <pr-donation></pr-donation>
      <vk-widget></vk-widget>
    </v-container>
  </v-content>
</template>
<script>

  import PrDescription from "../components/PrDescription";
  import PrMedia from "../components/PrMedia";
  import PrNews from "../components/PrNews";
  import PrDonation from "../components/PrDonation";
  import VkWidget from "../components/VkWidget";
  import EmailWidget from "../components/EmailWidget";
  import PrReminder from "../components/PrReminder";
  export default {
    name: 'Home',
    components: {
      PrReminder,
      EmailWidget,
      VkWidget,
      PrDonation,
      PrNews,
      PrMedia,
      PrDescription
    }
  }
</script>

<style scoped>

</style>
