<template>
    <v-content>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs12 lg10 v-for="(item, i) in newsList" :key="i">
          {{ item.title }}
        </v-flex>
        <v-flex lg2 v-if="$vuetify.breakpoint.lgAndUp">баннер</v-flex>
      </v-layout>
    </v-container>
    </v-content>
</template>

<script>

import ApiNewsService from '../services/news.service.js'

export default {
  name: 'News',
  data () {
    return {
      newsList: []
    }
  },
  methods: {
    async getNews () {
      ApiNewsService.getNews().then(resp => {
        this.newsList = resp.data;
      })
    }
  },
  mounted () {
    this.getNews()
  }
}
</script>
