<template>
    <v-content style="position: relative">
    <div class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
      Раздел находится в разработке
    </div>
    </v-content>
</template>

<script>
export default {
    name: 'NotReady'
}
</script>
