<template>
  <v-content>
    <v-container>
      <v-expansion-panel>
        <v-expansion-panel-content
            v-for="(item,i) in questions"
            :key="i"
        >
          <div slot="header" class="subheading">{{ $t('question') }}: {{item.question}}</div>
          <v-divider></v-divider>
          <v-card>
            <v-card-text v-if="!item.answer.list" class="subheading px-4">
              <div>{{ $t('answer') }}:</div>
              {{ item.answer }}
            </v-card-text>
            <v-card-text v-else-if="item.answer.list" class="subheading px-4">
              <div>{{ $t('answer') }}:</div>
              <v-layout wrap>
                <v-flex xs12>
                  {{ item.answer.title }}
                </v-flex>
                <template v-for="(option, index) in item.answer.list">
                  <v-flex xs12 v-if="!option.list" :key="index">
                    {{ index + 1 }}) {{ option }}
                  </v-flex>
                  <v-flex xs12 v-else-if="option.list" :key="index">
                    {{ chars[index] }}) {{ option.title }}
                    <v-flex v-for="(item, i) in option.list" :key="i" class="ml-2">
                      {{ i+1 }}. {{ item }}
                    </v-flex>
                  </v-flex>
                </template>
                <template>

                </template>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-container>
  </v-content>
</template>

<script>
  export default {
    name: "PrQuestions",
    data () {
      return {
        chars: ['A', 'B', 'C'],
        questions: [
          {
            question: 'Зачем вы освобождаете людей из рабства?',
            answer: 'Часто человек, оказавшийся в рабстве, предоставлен сам себе. Из-за непроработанного законодательства доказать факт рабства или принудительного труда практически невозможно (за 7 лет по нашим кейсам было возбуждено лишь одно уголовное дело). Мы считаем, что неправильно проходить мимо таких людей. К тому же мы боремся с явлением рабства как таковым. Если проблему не решать, то она сама не исчезнет. Более того, она будет увеличиваться в масштабе и все более негативно влиять на личную безопасность граждан. В этом случае нам потребуется намного больше ресурсов, чтобы с ней справиться потом.'
          },
          {
            question: 'Почему вы не можете освободить сразу всех людей, которые находятся на заводе?',
            answer: 'Освобождение человека с завода происходит только при наличии заявки от самого человека. Согласно текущему законодательству у Альтернативы нет полномочий освободить всех людей с завода, даже если они пребывают в рабстве.'
          },
          {
            question: 'Выкупаете ли вы людей, находящихся в рабстве?',
            answer: 'Нет.'
          },
          {
            question: 'Что происходит с рабовладельцами? Удается ли их привлечь к ответственности?',
            answer: {
              title: 'Как правило, нет, так как:',
              list: [
                'Жертвы часто не пишут заявление, потому что они хотят как можно быстрее забыть пережитое и не связываться с этим.',
                'Даже если заявление было написано, тяжело доказать вину работодателя.'
              ]
            }
          },
          {
            question: 'Часто ли человек повторно обращается за помощью?',
            answer: 'Крайне редко. За время работы Альтернативы было лишь 5 таких случаев.'
          },
          {
            question: 'Сколько стоит проведение спасательной операции?',
            answer: 'Зависит от того, куда ехать.\n' +
              '    Например, при освобождении с кирпичного завода в Дагестане средняя стоимость операции — 10000 рублей. \n' +
              '    500 руб. в день питание + \n' +
              '    500 руб. в день хостел + \n' +
              '    4000 автобус до Москвы \n' +
              '    + автобус до места проживания'
          },
          {
            question: 'Какова дальнейшая судьба освобожденных?',
            answer: 'Прежде всего, мы обеспечиваем пострадавших безопасным проживанием, питанием, медицинской помощью (если нужно), в также правовой помощью. несмотря на возможность обращения в правоохранительные органы, подавляющее большинство большинство стремится вернуться домой, и мы тоже оказываем такую помощь, вплоть до сопровождения и передачи пострадавшего либо семье, либо в соответствующие организации, способные помочь в реабилитации и трудоустройстве.'
          },
          {
            question: 'В рабстве обычно оказываются алкоголики и необразованные люди. Они сами виноваты, что попали туда.',
            answer: 'Да, действительно в рабство намного чаще попадают люди злоупотребляющие алкоголем. Однако это не единственная уязвимая группа. Это могут быть люди в трудной жизненной ситуации, безработные, люди с физическими или ментальными отклонениями, беженцы, мигранты, выпускники детских домов и интернатов, одинокие пожилые люди, и т.д. В рабстве люди оказываются результате обмана, мошенничества, похищения. Людям обещают хорошую работу, на которую они соглашаются. На месте же у человека отбирают документы, не платят за работу и даже избивают, угрожают причинить вред ему самому или его семье. Абсолютно любой человек может оказаться в такой ситуации. В нашей практике были случаи, когда и люди из благополучных семей попадали в рабство. (ССЫЛКА)'
          },
          {
            question: 'Будем ли мы искать пропавшего человека?',
            answer: 'Так как Альтернатива не является поисковым отрядом, то нет. Если поступает заявка на поиск, то мы ее переправляем соответствующим организациям. Что делаем мы сами: 1) Делаем ориентировку 2) Показываем освобожденным. Некоторые из тех, кого ищут, становятся опознанными. Заявка заполняется только (!) на сайте: здесь Это важно, так как Альтернатива должна получить от вас согласие на обработку персональных данных.'
          },
          {
            question: 'Сколько человек было освобождено?',
            answer: 'Более 700. Точной цифры нет, так как поначалу учет освобожденных не велся.'
          },
          {
            question: 'С какими видами рабства вы боретесь?',
            answer: 'Основные направления это: трудовое рабство и принудительный труд, сексуальная эксплуатация и принудительное попрошайничество, торговля детьми в целях эксплуатации.'
          },
          {
            question: 'Как происходит освобождение из рабства?',
            answer: {
              title: 'Зависит от вида рабства:',
              list: [
                {
                  title: 'Трудовое рабство',
                  list: [
                    'В «Альтернативу» по горячей линии обращается потерпевший и / или родственники.',
                    'Активисты забирают жертву с места удержания в сопровождении представителей правоохранительных органов или организуют незаметный побег.',
                    'Активисты опрашивают потерпевшего, а затем отправляют домой или в Москву для размещения в безопасном убежище. \n\n В последние годы Альтернатива наладила тесное сотрудничество с правоохранительными органами Республики Дагестан, вследствие чего полицейские часто обращаются к активистам за помощью в отправке сбежавшего с места удержания потерпевшего, который обратился в МВД, домой.'
                  ]
                },
                {
                  title: 'Сексуальная экплуатация. \n\n Большинство освобожденных активистами «Альтернативы» жертв сексуальной эксплуатации являются жертвами принудительной проституции, привезенными в РФ из стран Африки.\n' +
                    '    Этапы освобождения:',
                  list: [
                    'В «Альтернативу» по горячей линии обращается жертва / активисты самостоятельно опрашивают потенциальных заявителей в ходе личного общения, так как жертвы часто боятся обращаться за помощью из-за страха насилия и социальной стигматизации',
                    'В случае подтверждения факта удержания на основе показаний жертвы, активисты определяют местонахождение борделя и организуют рейд совместно с правоохранительными органами с целью освободить жертв и задержать преступников',
                    '«Альтернатива» предоставляет бывшим жертвам безопасное убежище и средства к существованию, а также медицинскую, юридическую, и другие виды поддержки.'
                  ]
                },
                {
                  title: 'Принудительное попрошайничество. \n\n Активисты «Альтернативы» регулярно опрашивают просящих милостыню людей в переходах и на улицах. В случае, если попрошайка подтвердил факт эксплуатации, активисты забирают потерпевшего в офис для опроса и определения дальнейших действий, а также обращаются в полицию.',
                  list:[]
                }
              ]
            }
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
