<template>
  <v-layout wrap justify-center>
    <v-flex>
      <div id="sendpulse"></div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "EmailWidget",
    mounted  () {
      var div= document.getElementById('sendpulse');
      var script= document.createElement('script');
      script.async = true;
      script.src= '//static-login.sendpulse.com/apps/fc3/build/loader.js';
      script.setAttribute('sp-form-id', '7f18f8e360102c04b44cf632bd97be762d36baca673d47c44dd96b2df00227e1');
      div.appendChild(script)
    }
  }
</script>

<style scoped>

</style>
