<template>
  <v-container>
    <v-layout wrap class="py-5" justify-center>
      <v-flex xs12 class="text-xs-center" :class="small ? 'subheading' : 'headline'">
        Альтернатива
      </v-flex>
      <v-flex xs12 :class="small ? 'subheading' : 'headline'" class="text-xs-justify my-2">
        «Альтернатива» — это организация, которая борется с современным рабством. Альтернатива освобождает людей по России и миру из всех форм рабства: трудового, сексуального, «нищенского» и других. Организация основана в 2011 году. За время существования было освобождено более 1000 человек и оказана помощь более чем 2000.
      </v-flex>
      <v-btn href="/about" class="main-color-element mt-4">
        {{ $t('learnmore') }}
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "PrDescription",
    computed: {
      small () {
        return this.$vuetify.breakpoint.mdAndDown
      }
    }
  }
</script>

<style scoped>

</style>
