<template>
  <v-layout wrap class="py-5" justify-center>
    <v-flex v-if="!notitle" xs12 class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-2' : 'headline'">
      {{ $t('helptitle') }}
    </v-flex>
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <pr-wallets></pr-wallets>
      </v-flex>
        <v-btn flat
               color="teal darken-2"
               href="https://docs.google.com/spreadsheets/d/1C92c4g0i0LlGQ7KFDdCehxzzD3wN_YFY4qBPyfDNv28/edit"
                target="_blank">
            Наш финансовый отчёт
        </v-btn>

      <!-- <v-flex xs12 md6 class="text-xs-center" align-center>
        <h1>Вот тут будет виджет CloudPayments</h1>
      </v-flex> -->
    </v-layout>
  </v-layout>
</template>

<script>
  import PrWallets from "./PrWallets";
  export default {
    name: "PrDonation",
    props: {
      notitle: {
        type: Boolean,
        default: false
      }
    },
    components: {PrWallets}
  }
</script>

<style scoped>

</style>
