<template>
  <v-footer app class="main-color-element px-2">
    <span class="body-1">&copy 2011 - 2019</span>
    <v-spacer></v-spacer>
    <span class="caption">
          Proudly created by
          <a
              class="credit-link"
              href="https://t.me/redisotschek"
              target="_blank"
          >
            @redisotschek
          </a>
          </span>
  </v-footer>
</template>

<script>
  import PrReminder from "./PrReminder";
  import PrWallets from "./PrWallets";
  export default {
    name: "PrFooter",
    components: {PrWallets, PrReminder}
  }
</script>

<style scoped>

</style>
