<template>
  <div>
    <div v-if="!small">
      <v-toolbar class="elevation-0 main-color-element pr--toolbar" app v-scroll="onScroll">
        <v-container fluid class="pa-0">
          <v-layout row>
            <v-toolbar-title v-if="$vuetify.breakpoint.lgAndUp" style="width: 100%;">
              <pr-reminder></pr-reminder>
            </v-toolbar-title>
          </v-layout>
          <v-fade-transition v-if="showToolbar">
            <v-layout row style="background-color: white; width: 100%"
                      align-center>
              <v-flex xs2>
                <v-layout column>
                  <router-link class="router-link text-xs-center" :to="'/'"><span class="font-weight-light black--text display-1">{{ $t('alternative')}}</span></router-link>
                  <span style="line-height: 24px !important" class="text-xs-center font-weight-light black--text caption">{{ $t('subtitle')}}</span>
                </v-layout>
              </v-flex>
              <v-menu offset-y>
                <v-btn
                    slot="activator"
                    flat
                >
                  {{ $t('about') }}
                </v-btn>
                <v-list>
                  <v-list-tile
                      v-for="(item, index) in about"
                      :key="index"
                      :to="item.link"
                  >
                    <v-list-tile-title>
                      {{ $t(item.text) }}
                    </v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <!--<v-btn v-for="(route, i) in routes" :key="`route`+ i"-->
              <!--:href="route.link"-->
              <!--flat-->
              <!--&gt;-->
              <!--{{ $t(route.text) }}-->
              <!--</v-btn>-->
              <v-btn href="/sos" flat>
                {{ $t('needhelp') }}
                <v-icon>warning</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <pr-icon v-for="(icon, i) in socialNets" :key="`icon` + i"
                       :link="icon.link"
                       :img="icon.img"
              ></pr-icon>
              <div class="text-xs-center">
                <v-menu offset-y>
                  <v-btn
                      fab
                      flat
                      slot="activator"
                      color="transparent"
                  >
                    <img width="25px" height="auto" :src="require(`@/assets/header/${curLocale}.png`)">
                  </v-btn>
                  <v-list>
                    <v-list-tile
                        v-for="(locale, index) in locales"
                        :key="`locale` + index"
                        @click="changeLocale(locale.id)"
                    >
                      <v-list-tile-title>
                        <img width="25px" height="auto" :src="require(`@/assets/header/${locale.id}.png`)">
                        {{ locale.name }}
                      </v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </div>
            </v-layout>
          </v-fade-transition>
        </v-container>
      </v-toolbar>
    </div>
    <div
        v-else-if="small"
    >
      <v-toolbar
          color="main-color-element"
          fixed
          clipped-right
      >
        <v-toolbar-side-icon style="color: white" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>
          <router-link class="router-link text-xs-center" :to="'/'"><span class="font-weight-light white--text display-1">{{ $t('alternative')}}</span></router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-navigation-drawer
          v-model="drawer"
          fixed
          app
      >
          <v-layout justify-center>
              <v-list>
                  <v-list-tile
                          to="/"
                          align-center
                          ripple
                  >
                      <v-list-tile-title>
                          {{ $t('home') }}
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile
                          v-for="(item, index) in about"
                          :key="index"
                          :to="item.link"
                          align-center
                          ripple
                  >
                      <v-list-tile-title>
                          {{ $t(item.text) }}
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile
                          to="/sos"
                          align-center
                          ripple
                  >
                      <v-list-tile-title>
                          {{ $t('needhelp') }}
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile
                          to="/help"
                          align-center
                          ripple
                          class="headline red--text my-2"
                  >
                      <v-list-tile-title>
                          {{ $t('wanthelp') }}
                      </v-list-tile-title>
                  </v-list-tile>
              </v-list>
          </v-layout>
          <v-layout justify-space-between>
              <pr-icon v-for="(icon, i) in socialNets" :key="`icon` + i"
                       :link="icon.link"
                       :img="icon.img"
              ></pr-icon>
          </v-layout>
          <v-layout justify-center align-center>
              {{ getLocale(curLocale).name }}
              <v-menu offset-y>
                  <v-btn
                          fab
                          flat
                          slot="activator"
                          color="transparent"
                  >
                      <img width="25px" height="auto" :src="require(`@/assets/header/${curLocale}.png`)">
                  </v-btn>
                  <v-list>
                      <v-list-tile
                              v-for="(locale, index) in locales"
                              :key="`locale` + index"
                              @click="changeLocale(locale.id)"
                      >
                          <v-list-tile-title>
                              <img width="25px" height="auto" :src="require(`@/assets/header/${locale.id}.png`)">
                              {{ locale.name }}
                          </v-list-tile-title>
                      </v-list-tile>
                  </v-list>
              </v-menu>
          </v-layout>
      </v-navigation-drawer>
    </div>

  </div>
</template>

<script>

import PrIcon from './PrIcon'
import { detectLocale } from "@/i18n";
import PrReminder from "./PrReminder";

export default {
    name: 'PrHeader',
    components: {
      PrReminder,
      PrIcon
    },
  data () {
    return {
      drawer: false,
      showToolbar: true,
      offsetTop: 0,
      socialNets: [
        {
          link: '/sos',
          img: 'email.png'
        },
        {
          link: 'https://vk.com/alternative.movement',
          img: 'vk.svg'
        },
        {
          link: 'https://instagram.com/alternative.help',
          img: 'insta.png'
        },
        {
          link: 'https://www.youtube.com/channel/UCy6TiUfVnyALXPvfNUCkzSg',
          img: 'youtube.png'
        },
        {
          link: 'https://www.facebook.com/ru.alternative.help/',
          img: 'fb.png'
        },
        {
          link: 'https://twitter.com/HelpAlternative',
          img: 'twitter.png'
        },
      ],
      locales: [
        {
          id: 'en',
          name: 'English'
        },
        {
          id: 'ru',
          name: 'Русский'
        }
      ],
      routes: [
        {
          text: 'menu.about-slavery',
          link: 'slavery'
        },
        {
          text: 'menu.people',
          link: 'people'
        }
      ],
      about: [
        {
          text: 'menu.about-us',
          link: 'about'
        },
        {
          text: 'QA',
          link: 'faq'
        },
      ]
      //
    }
  },
  computed: {
    curLocale() {
      return this.$i18n.locale
    },
    small () {
      return this.$vuetify.breakpoint.mdAndDown
    }
  },
  methods: {
    changeLocale (loc) {
      this.$i18n.locale = loc
    },
    getLocale (id) {
      return this.locales.find((el) => el.id === id);
    },
    onScroll (e) {
      if (this.$route.path !== '/help') {
        this.offsetTop = window.scrollY
        this.showToolbar = !(this.offsetTop > 200)
      } else return

    }
  }
}
</script>

<style scoped>
  .v-btn--floating {
    width: 45px;
    height: 45px;
  }

  .pr--toolbar >>> .v-toolbar__content {
    padding: 0 !important;
  }
</style>

