<template>
  <v-btn
    flat
    fab
    :href="link"
    target="_blank"
  >
    <img width="30px"
         height="auto"
         style="-webkit-filter: grayscale(30%); filter: grayscale(30%);"
         :src="require(`@/assets/header/${img}`)"/>
  </v-btn>
</template>

<script>
  export default {
    name: "PrIcon",
    props: ['link', 'img']
  }
</script>

<style scoped>

</style>
