<template>
  <v-layout v-if="!isRouteHelp" class="display-1" justify-center
            align-center>
    <v-btn
        color="red"
        href="/help"
        large
        round
        class="headline mx-4 white--text my-2"
        style="width: 25%"
    >
      {{ $t('wanthelp') }}
    </v-btn>
  </v-layout>
</template>

<script>
  export default {
    name: "PrReminder",
    computed: {
      isRouteHelp () {
        return !!(this.$route.path === '/help')
      }
    },
    mounted () {

    }
  }
</script>

<style scoped>

</style>
