<template>
    <div class="justify-center">
        <v-form class="py-5" ref="form"
            v-on:submit.prevent="processForm"
            lazy-validation>
            <v-text-field
                name="account"
                v-model="email"
                required
                label="Ваш e-mail"
                placeholder="Ваш email"
                outline
            ></v-text-field>

            <v-text-field
                name="sum"
                v-model="amount"
                required
                label="Сумма"
                placeholder="Сумма пожертвования"
                outline
            ></v-text-field>

            <v-text-field
                name="desc"
                v-model="description"
                label="Пара слов"
                placeholder="Хотите что-нибудь сказать?"
                outline
            ></v-text-field>
            <v-checkbox v-model="checkbox" :label="'Я даю согласие на обработку персональных данных'"></v-checkbox>
        <v-btn :disabled="!checkbox" style="margin-left: 25%; width: 50%" color="primary" type="submit">Пожертвовать {{ amount }} р.</v-btn>
    </v-form>
    </div>
</template>

<script>
    import PrModal from './PrModal'
    export default {
        name: "PrUnitpay",
        components: {PrModal},
        data: function () {
            return {
                email: "",
                amount: 50,
                description: "",
                checkbox: false
            }
        },
        methods: {
            validateEmail(email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(String(email).toLowerCase());
            },
            processForm () {
                if(this.email.length === 0 || !this.validateEmail(this.email))
                {
                    alert(this.$t('unitpay.bad_email_format'));
                    return;
                }

                if(isNaN(this.amount) || this.amount.length === 0)
                {
                    alert(this.$t('unitpay.bad_amount_format'));
                    return;
                }

                let description = this.description === '' ? this.$t('unitpay.description') + this.email : this.description

                var url = 'https://unitpay.ru/pay/144441-589aa?account='
                    + this.email + '&sum=' + this.amount + '&desc=' + description;

                window.location.href = url;
            }
        }
    }
</script>
