<template>
  <v-layout column py-3>
    <v-layout column justify-center>
      <span class="py-3 text-xs-center">
        <h1>
          Пожертвование через UnitPay
        </h1>
      </span>
      <v-flex xs12 :style="!small ? 'width: 50%; margin: auto' : ''">
        <pr-unitpay></pr-unitpay>
      </v-flex>
    </v-layout>
      <v-layout>
          <v-flex class="text-xs-center py-3">
              <h1>
                  {{ $t('wallets.accounts') }}
              </h1>
          </v-flex>
      </v-layout>
      <v-container pa-0>
        <v-layout v-for="(wallet, i) in wallets" :key="`wallet` + i" align-center justify-center row>
          <div style="line-height: 30px">
            <img height="26px" width="auto" class="pr-2" :src="require(`../assets/wallets/${wallet.name}.png`)">
            {{ $t(`wallets.${wallet.name}`) }}
            <v-icon>arrow_right</v-icon>
            {{ $t('copy')}}
            <!--<template v-else-if="wallet.name === 'yandex'">-->
              <!--<a href="https://money.yandex.ru/to/410011569894386">-->
                <!--<img src="http://avatars.mds.yandex.net:80/get-yablogs/114306/VyZTMD4F_g/orig" border="0" name="submit" height="30px" alt="Яндекс.Деньги" />-->
              <!--</a>-->
            <!--</template>-->
            <!--<template v-else>-->
              <!--<PrPaypal></PrPaypal>-->
            <!--</template>-->
            <v-btn small icon @click="copyToDashboard(wallet.text)" v-if="wallet.text">
              <v-icon color="grey">file_copy</v-icon>
            </v-btn>
          </div>
        </v-layout>
      </v-container>
      <v-snackbar
              v-model="snackbar"
              bottom
              :timeout="800"
      >
          {{ $t('copied') }}
          <v-btn
                  color="teal"
                  flat
                  @click="snackbar = false"
          >
              {{ $t('close') }}
          </v-btn>
      </v-snackbar>
  </v-layout>
</template>

<script>
  import PrPaypal from "./payments/PrPaypal";
  import PrUnitpay from "./PrUnitpay";
  export default {
    name: "PrWallets",
    components: {PrUnitpay, PrPaypal},
    data: () => ({
      email: '',
      sum: 100,
      desc: '',
      snackbar: false,
      wallets: [
        {
          name: 'sberbank',
          text: '4276 3801 5524 4887'
        },
        {
          name: 'webmoney',
          text: 'R305103454198'
        },
        {
          name: 'paypal',
          import: 'PayPal'
        },
        {
          name: 'qiwi',
          text: '+79151783818'
        },
        {
          name: 'btc',
          text: '1FU7UFsMTcmXaBmoT9aPcfUqveJFysHPxA'
        },
        {
          name: 'eth',
          text: '0xa269BBc0190F341819e75DEB05DcAe31fE6a4344'
        }
      ]
    }),
    methods: {
      copyToDashboard (text) {
        this.$copyText(text)
        this.snackbar = true
      }
    },
    computed: {
      small () {
        return this.$vuetify.breakpoint.mdAndDown
      }
    }
  }
</script>

<style scoped>

</style>
