<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 lg4 class="justify-center py-2">
      <iframe src="//widget.instagramm.ru/?imageW=2&imageH=2&thumbnail_size=147&type=0&typetext=alternative.help&head_show=1&profile_show=1&shadow_show=1&bg=255,255,255,1&opacity=true&head_bg=46729b&subscribe_bg=3897f0&border_color=c3c3c3&head_title=" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:100%;height:459px; margin: auto"></iframe>
    </v-flex>
    <v-flex xs12 lg4 class="justify-center py-2">
      <div style="border:none;overflow:hidden;width:100%;height:459px; margin: auto" class="fb-page" data-href="https://www.facebook.com/ru.alternative.help/" data-tabs="timeline" data-height="435" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ru.alternative.help/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ru.alternative.help/">Альтернатива</a></blockquote></div>
    </v-flex>
    <v-flex xs12 lg4 class="justify-center py-2">
      <div style="border:none;overflow:hidden;margin: auto" id="vk_groups"></div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "VkWidget",
    methods: {
      addVk () {
        let vkScript = document.createElement('script')
        vkScript.setAttribute('src', 'https://vk.com/js/api/openapi.js?160')
        document.head.appendChild(vkScript)
      }
    },
    mounted () {
      this.addVk()
      setTimeout(function () {
        VK.Widgets.Group("vk_groups", {mode: 3, width: 320, color3: '354659'}, 172088840);
      }, 1500)
    }
  }
</script>

<style scoped>

</style>
