<template>
    <a href="https://www.paypal.me/alternativanoslavery ">
        <img src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </a>
</template>

<script>
  export default {
    name: "PrPaypal"
  }
</script>

<style scoped>

</style>