<template>
  <v-app id="inspire">
    <pr-header></pr-header>
    <!--<v-toolbar-->
        <!--v-else-->
        <!--color="blue-grey"-->
        <!--dark-->
        <!--fixed-->
        <!--app-->
        <!--clipped-right-->
    <!--&gt;-->
      <!--<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>-->
      <!--<v-toolbar-title>Toolbar</v-toolbar-title>-->
      <!--<v-spacer></v-spacer>-->
    <!--</v-toolbar>-->
    <!--<v-navigation-drawer-->
        <!--v-model="drawer"-->
        <!--fixed-->
        <!--app-->
    <!--&gt;-->
    <!--</v-navigation-drawer>-->
    <v-content :class="small ? 'mt-5' : ''">
      <v-container fluid>
        <v-layout justify-center align-center>
         <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
    <pr-footer></pr-footer>
    <back-to-top bottom="25px" right="25px" visibleoffset="200">
      <v-btn fab color="teal darken-2">
        <v-icon color="white">
          keyboard_arrow_up
        </v-icon>
      </v-btn>
    </back-to-top>
  </v-app>
</template>

<script>
  import BackToTop from 'vue-backtotop'
  import PrHeader from "./components/PrHeader";
  import PrFooter from "./components/PrFooter";

  export default {
    components: {PrFooter, PrHeader, BackToTop},
    data: () => ({
      drawer: false,
    }),
    props: {
      source: String
    },
    computed: {
      small () {
        return this.$vuetify.breakpoint.mdAndDown;
      }
    }
  }
</script>

<style>

  body, html {
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }

  .router-link {
    text-decoration: none;
  }

  .main-color-element {
    background-color: #004b58 !important;
    color: white !important;
  }
</style>
